<?xml version="1.0" ?>
<SdlRenderer>
    <Resource>
        <Sprite>
            <Menu>
            </Menu>
            <Arena>
                <Arena_1>arena_1.png</Arena_1>
                <Arena_2>arena_1.png</Arena_2>
                <Arena_3>arena_1.png</Arena_3>
            </Arena>
            <Wall>
                <Indestructible>wall_indestructible.png</Indestructible>
                <Destructible>wall_destructible.png</Destructible>
            </Wall>
            <Extra>
                <Speed>extra_speed.png</Speed>
                <Bombs>extra_supply.png</Bombs>
                <Range>extra_range.png</Range>
                <RangeGold>extra_range_gold.png</RangeGold>
                <Kick>extra_kick.png</Kick>
                <RemoteBombs>extra_remotebombs.png</RemoteBombs>
            </Extra>
            <Bomb>
                <Countdown>bomb_1.png</Countdown>
                <Countdown>bomb_2.png</Countdown>
                <Countdown>bomb_3.png</Countdown>
                <Remote>bomb_remote_1.png</Remote>
                <Remote>bomb_remote_2.png</Remote>
            </Bomb>
            <Explosion>
                <Center>explosion_center_1.png</Center>
                <Center>explosion_center_2.png</Center>
                <Center>explosion_center_3.png</Center>
                <Center>explosion_center_4.png</Center>
                <Center>explosion_center_3.png</Center>
                <Center>explosion_center_2.png</Center>
                <Center>explosion_center_1.png</Center>
                <Horizontal>explosion_horizontal_1.png</Horizontal>
                <Horizontal>explosion_horizontal_2.png</Horizontal>
                <Horizontal>explosion_horizontal_3.png</Horizontal>
                <Horizontal>explosion_horizontal_4.png</Horizontal>
                <Horizontal>explosion_horizontal_3.png</Horizontal>
                <Horizontal>explosion_horizontal_2.png</Horizontal>
                <Horizontal>explosion_horizontal_1.png</Horizontal>
                <HorizontalLeftEnd>explosion_horizontal_leftend_1.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_2.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_3.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_4.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_3.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_2.png</HorizontalLeftEnd>
                <HorizontalLeftEnd>explosion_horizontal_leftend_1.png</HorizontalLeftEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_1.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_2.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_3.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_4.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_3.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_2.png</HorizontalRightEnd>
                <HorizontalRightEnd>explosion_horizontal_rightend_1.png</HorizontalRightEnd>
                <Vertical>explosion_vertical_1.png</Vertical>
                <Vertical>explosion_vertical_2.png</Vertical>
                <Vertical>explosion_vertical_3.png</Vertical>
                <Vertical>explosion_vertical_4.png</Vertical>
                <Vertical>explosion_vertical_3.png</Vertical>
                <Vertical>explosion_vertical_2.png</Vertical>
                <Vertical>explosion_vertical_1.png</Vertical>
                <VerticalUpEnd>explosion_vertical_upend_1.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_2.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_3.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_4.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_3.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_2.png</VerticalUpEnd>
                <VerticalUpEnd>explosion_vertical_upend_1.png</VerticalUpEnd>
                <VerticalDownEnd>explosion_vertical_downend_1.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_2.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_3.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_4.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_3.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_2.png</VerticalDownEnd>
                <VerticalDownEnd>explosion_vertical_downend_1.png</VerticalDownEnd>
            </Explosion>
            <Player>
                <Player_1>
                    <StandUp>player_1_up.png</StandUp>
                    <StandDown>player_1_down.png</StandDown>
                    <StandLeft>player_1_left.png</StandLeft>
                    <StandRight>player_1_right.png</StandRight>
                    <WalkUp>player_1_up_1.png</WalkUp>
                    <WalkUp>player_1_up_2.png</WalkUp>
                    <WalkDown>player_1_down_1.png</WalkDown>
                    <WalkDown>player_1_down_2.png</WalkDown>
                    <WalkLeft>player_1_left_1.png</WalkLeft>
                    <WalkLeft>player_1_left_2.png</WalkLeft>
                    <WalkRight>player_1_right_1.png</WalkRight>
                    <WalkRight>player_1_right_2.png</WalkRight>
                    <Spawn>player_spawn_1.png</Spawn>
                    <Spawn>player_spawn_2.png</Spawn>
                    <Spawn>player_spawn_3.png</Spawn>
                    <Spawn>player_spawn_4.png</Spawn>
                    <Death>player_1_death_1.png</Death>
                    <Death>player_1_death_2.png</Death>
                    <Death>player_1_death_3.png</Death>
                    <Death>player_1_death_4.png</Death>
                </Player_1>
                <Player_2>
                    <StandUp>player_2_up.png</StandUp>
                    <StandDown>player_2_down.png</StandDown>
                    <StandLeft>player_2_left.png</StandLeft>
                    <StandRight>player_2_right.png</StandRight>
                    <WalkUp>player_2_up_1.png</WalkUp>
                    <WalkUp>player_2_up_2.png</WalkUp>
                    <WalkDown>player_2_down_1.png</WalkDown>
                    <WalkDown>player_2_down_2.png</WalkDown>
                    <WalkLeft>player_2_left_1.png</WalkLeft>
                    <WalkLeft>player_2_left_2.png</WalkLeft>
                    <WalkRight>player_2_right_1.png</WalkRight>
                    <WalkRight>player_2_right_2.png</WalkRight>
                    <Spawn>player_spawn_1.png</Spawn>
                    <Spawn>player_spawn_2.png</Spawn>
                    <Spawn>player_spawn_3.png</Spawn>
                    <Spawn>player_spawn_4.png</Spawn>
                    <Death>player_2_death_1.png</Death>
                    <Death>player_2_death_2.png</Death>
                    <Death>player_2_death_3.png</Death>
                    <Death>player_2_death_4.png</Death>
                </Player_2>
                <Player_3>
                    <StandUp>player_3_up.png</StandUp>
                    <StandDown>player_3_down.png</StandDown>
                    <StandLeft>player_3_left.png</StandLeft>
                    <StandRight>player_3_right.png</StandRight>
                    <WalkUp>player_3_up_1.png</WalkUp>
                    <WalkUp>player_3_up_2.png</WalkUp>
                    <WalkDown>player_3_down_1.png</WalkDown>
                    <WalkDown>player_3_down_2.png</WalkDown>
                    <WalkLeft>player_3_left_1.png</WalkLeft>
                    <WalkLeft>player_3_left_2.png</WalkLeft>
                    <WalkRight>player_3_right_1.png</WalkRight>
                    <WalkRight>player_3_right_2.png</WalkRight>
                    <Spawn>player_spawn_1.png</Spawn>
                    <Spawn>player_spawn_2.png</Spawn>
                    <Spawn>player_spawn_3.png</Spawn>
                    <Spawn>player_spawn_4.png</Spawn>
                    <Death>player_3_death_1.png</Death>
                    <Death>player_3_death_2.png</Death>
                    <Death>player_3_death_3.png</Death>
                    <Death>player_3_death_4.png</Death>
                </Player_3>
                <Player_4>
                    <StandUp>player_4_up.png</StandUp>
                    <StandDown>player_4_down.png</StandDown>
                    <StandLeft>player_4_left.png</StandLeft>
                    <StandRight>player_4_right.png</StandRight>
                    <WalkUp>player_4_up_1.png</WalkUp>
                    <WalkUp>player_4_up_2.png</WalkUp>
                    <WalkDown>player_4_down_1.png</WalkDown>
                    <WalkDown>player_4_down_2.png</WalkDown>
                    <WalkLeft>player_4_left_1.png</WalkLeft>
                    <WalkLeft>player_4_left_2.png</WalkLeft>
                    <WalkRight>player_4_right_1.png</WalkRight>
                    <WalkRight>player_4_right_2.png</WalkRight>
                    <Spawn>player_spawn_1.png</Spawn>
                    <Spawn>player_spawn_2.png</Spawn>
                    <Spawn>player_spawn_3.png</Spawn>
                    <Spawn>player_spawn_4.png</Spawn>
                    <Death>player_4_death_1.png</Death>
                    <Death>player_4_death_2.png</Death>
                    <Death>player_4_death_3.png</Death>
                    <Death>player_4_death_4.png</Death>
                </Player_4>
            </Player>
        </Sprite>
    </Resource>
</SdlRenderer>
